:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --darker-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --strong-cyan: hsl(172, 67%, 45%);
  --container-padding: 0% 30px 0 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-cyan);
}
/* HEADER */

.logo-container {
  position: absolute;
  bottom: 85%;
  top: 0;
  width: 100%;
  height: 15%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* MAIN */
main {
  height: 85%;
  width: 100%;
  position: absolute;
  top: 15%;
  bottom: 0;
}

.card {
  height: 100%;
  background-color: white;
  border-radius: 22px 22px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BILL CONTAINER */
.bill-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 17%;
  padding: 30px 30px 0 30px;
}

.bill-cost-input {
  text-align: right;
  background-color: var(--lighter-grayish-cyan);
  width: 100%;
  height: 45%;
  border: none;
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  font-size: 24px;
  color: var(--very-dark-cyan);
  padding: 15px 15px 15px 15px;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-weight: 600;
}

.bill-cost-input::placeholder {
  color: var(--light-grayish-cyan);
}

.bill-cost-input:hover {
  border: 3px solid var(--light-grayish-cyan);
}

.bill-label {
  font-size: 15px;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  height: 30px;
}

/* TIP CONTAINER */
.tip-container {
  width: 100%;
  height: 32%;
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tip-label {
  font-size: 15px;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  margin-bottom: 15px;
}

.tip-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80%;
  grid-gap: 15px;
}

.tip-button-container button {
  border-radius: 10px;
  border: none;
  background-color: var(--very-dark-cyan);
  color: var(--lighter-grayish-cyan);
  font-size: 21.5px;
  font-weight: 600;
}

.tip-button-container button:last-child {
  background-color: var(--lighter-grayish-cyan);
  color: var(--dark-grayish-cyan);
}

/* PEOPLE CONTAINER */

.people-container {
  padding: var(--container-padding);
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.people-label {
  color: var(--dark-grayish-cyan);
  font-size: 15px;
  font-weight: 700;
}

.people-input {
  margin: 0;
  text-align: right;
  background-color: var(--lighter-grayish-cyan);
  width: 100%;
  height: 45%;
  border: none;
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  font-size: 24px;
  color: var(--very-dark-cyan);
  padding: 15px 15px 15px 15px;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-weight: 600;
}

.people-input::placeholder {
  color: var(--light-grayish-cyan);
}

.people-input:hover {
  border: 3px solid var(--light-grayish-cyan);
}

/* TOTAL CONTAINER */

.total-container {
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  padding: 18px 30px 30px 30px;
}

.total-card {
  background-color: var(--very-dark-cyan);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 11px;
}

.total-element-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
}

.tip-amount-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  row-gap: 15px;
}

.tip-amount-label p:first-child {
  font-size: 14px;
  color: var(--lighter-grayish-cyan);
  font-weight: 600;
}
.tip-amount-label p:nth-child(2) {
  font-size: 12px;
  color: var(--dark-grayish-cyan);
  font-weight: 500;
}

.tip-amount {
  color: var(--strong-cyan);
  font-weight: 700;
  font-size: 24px;
  text-align: right;
}

.reset-button-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.reset-button-container button {
  width: 100%;
  height: 62%;
  background-color: var(--strong-cyan);
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

input:invalid {
  border: 3px solid red;
}
