:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --darker-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --strong-cyan: hsl(172, 67%, 45%);
  --container-padding: 0% 30px 0 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-cyan);
}

/* HEADER */

.logo-container {
  position: absolute;
  bottom: 85%;
  top: 0;
  width: 100%;
  height: 15%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* MAIN */

main {
  height: 86%;
  width: 100%;
  position: absolute;
  top: 15%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.card {
  height: 100%;
  background-color: white;
  border-radius: 22px 22px 0 0;
  display: flex;
  flex-direction: column;
}

/* CARD ELEMENTS 1 */

.card-elements-1 {
  height: 62%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* BILL CONTAINER */
.bill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 25%;
  padding: 15px 30px 0 30px;
}

.bill-cost-input {
  text-align: right;
  background-color: var(--lighter-grayish-cyan);
  width: 100%;
  height: 45%;
  border: none;
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  font-size: 24px;
  color: var(--very-dark-cyan);
  padding: 15px 15px 15px 15px;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  outline: none;
  border-radius: 4px;
}

.bill-cost-input::placeholder {
  color: var(--light-grayish-cyan);
}

.bill-cost-input:hover {
  border: 2px solid var(--strong-cyan);
  cursor: pointer;
}

.bill-label-container {
  position: relative;
  height: 1.5em;
}

.bill-label {
  font-size: 15px;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  position: absolute;
  left: 0;
  bottom: 0;
}

.bill-invalid-label {
  display: none;
  font-size: 15px;
  color: red;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* TIP CONTAINER */

.tip-container {
  width: 100%;
  height: 53%;
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tip-label {
  font-size: 15px;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  margin-bottom: 5%;
}

.tip-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.tip-button {
  height: 48px;
  width: 146px;
  border-radius: 10px;
  border: none;
  background-color: var(--very-dark-cyan);
  color: var(--lighter-grayish-cyan);
  font-size: 21.5px;
  font-weight: 600;
}

#customTipInput {
  height: 48px;
  width: 146px;
  border-radius: 10px;
  border: none;
  background-color: var(--lighter-grayish-cyan);
  color: var(--very-dark-cyan);
  font-size: 21.5px;
  font-weight: 600;
  outline: none;
  border-radius: 4px;
  text-align: right;
  padding: 15px 15px 15px 15px;
}

#customTipInput:hover {
  border: 2px solid var(--strong-cyan);
}

#customTipInput:focus {
  border: 2px solid var(--strong-cyan);
}
#customTipInput::placeholder {
  color: var(--dark-grayish-cyan);
}

.tip-button:hover {
  background-color: var(--strong-cyan);
  cursor: pointer;
}

.tip-button-selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

/* PEOPLE CONTAINER */

.people-container {
  padding: var(--container-padding);
  width: 100%;
  height: 21%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.people-label-container {
  position: relative;
  height: 1.5em;
}

.people-label {
  font-size: 15px;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  position: absolute;
  left: 0;
  bottom: 0;
}

.people-invalid-label {
  display: none;
  font-size: 15px;
  color: red;
  position: absolute;
  right: 0;
  bottom: 0;
}

.people-input {
  margin: 0;
  text-align: right;
  background-color: var(--lighter-grayish-cyan);
  width: 100%;
  height: 45%;
  border: none;
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 18px center;
  font-size: 24px;
  color: var(--very-dark-cyan);
  padding: 15px 15px 15px 15px;
  font-family: "Open Sans", sans-serif;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  outline: none;
  border-radius: 4px;
}

.people-input::placeholder {
  color: var(--light-grayish-cyan);
}

.people-input:hover {
  border: 2px solid var(--light-grayish-cyan);
  border: 2px solid var(--strong-cyan);
  cursor: pointer;
}

/*  CARD ELEMENTS 2 */

.card-elements-2 {
  height: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* TOTAL CONTAINER */

.total-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px 18px 30px;
}

.total-card {
  background-color: var(--very-dark-cyan);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 11px;
}

.total-element-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.tip-amount-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  margin-top: 20px;
  row-gap: 30px;
}

.tip-amount-label p:first-child {
  font-size: 16px;
  color: var(--lighter-grayish-cyan);
  font-weight: 600;
}
.tip-amount-label p:nth-child(2) {
  font-size: 14px;
  color: var(--dark-grayish-cyan);
  font-weight: 500;
}

.tip-amount {
  color: var(--strong-cyan);
  font-weight: 700;
  font-size: 30px;
  text-align: right;
}

.total-amount-label p:first-child {
  font-size: 16px;
  color: var(--lighter-grayish-cyan);
  font-weight: 600;
}
.total-amount-label p:nth-child(2) {
  font-size: 14px;
  color: var(--dark-grayish-cyan);
  font-weight: 500;
}

.total-amount {
  color: var(--strong-cyan);
  font-weight: 700;
  font-size: 30px;
  text-align: right;
}

.reset-button-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#btnReset {
  width: 281px;
  height: 48px;
  background-color: var(--strong-cyan);
  border: none;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--very-dark-cyan);
}

#btnReset:hover {
  background-color: var(--light-grayish-cyan);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* INVALID STYLES */

input:invalid {
  border: 2px solid red;
}

.invalid-label-true {
  display: block;
}

/* RESPONSIVE DESKTOP */

@media (min-width: 376px) and (max-width: 1439px) {
  #logoImg {
    height: 125px;
  }
  .card {
    width: 920px;
    height: 100%;
    display: flex;
    border-radius: 22px 22px 22px 22px;
  }

  .bill-container {
    width: 100%;
    padding: 3.25em 3.25em 0px 3.25em;
    display: flex;
    justify-content: flex-start;
  }

  .bill-label {
    font-size: 1.75em;
  }
  .bill-invalid-label {
    font-size: 1.25em;
  }
  .bill-cost-input {
    font-size: 1.75em;
    border-radius: 10px;
    background-size: 0.65em;
    background-position: 1em center;
  }
  .tip-container {
    justify-content: flex-start;
    padding: 0px 3.25em 0px 3.25em;
  }
  .tip-label {
    font-size: 1.75em;
  }

  .tip-button-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1.5em;
  }
  .tip-button {
    width: 100%;
    height: 2.9em;
    font-size: 1.9em;
  }

  #customTipInput {
    width: 100%;
    height: 5em;
  }

  #customTipInput::placeholder {
    font-size: 1.75em;
  }
  .people-container {
    padding: 0px 3.25em 0px 3.25em;
    justify-content: center;
  }

  .people-label {
    font-size: 1.75em;
  }
  .people-invalid-label {
    font-size: 1.25em;
  }

  .people-input {
    font-size: 1.75em;
    border-radius: 10px;
    background-size: 0.65em;
    background-position: 1em center;
  }

  .total-container {
    padding: 25px 3.25em 25px 3.25em;
  }
  .total-card {
    border-radius: 2em;
  }

  .tip-amount-container {
    padding: 1.7em;
    row-gap: 1em;
  }

  .tip-amount-label p:first-child {
    font-size: 1.75em;
  }
  .tip-amount-label p:nth-child(2) {
    font-size: 1.25em;
  }
  .tip-amount {
    font-weight: 500;
    font-size: 4em;
  }
  .total-amount-label p:first-child {
    font-size: 1.75em;
  }
  .total-amount-label p:nth-child(2) {
    font-size: 1.25em;
  }

  .total-amount {
    color: var(--strong-cyan);
    font-weight: 500;
    font-size: 4em;
    text-align: right;
  }

  .reset-button-container {
    padding: 0 1.7em 2em 1.7em;
  }

  #btnReset {
    width: 100%;
    height: 75%;
    font-size: 2.1em;
    border-radius: 15px;
  }
  input:invalid {
    border: 5px solid red;
  }
}

/* Properties for screens larger than 1440px */
@media (min-width: 1440px) {
  .card {
    width: 920px;
    height: 480px;
    display: flex;
    flex-direction: row;
    border-radius: 22px 22px 22px 22px;
  }

  .card-elements-1 {
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  .bill-container {
    padding: 35px 19px 0px 50px;
  }
  .tip-container {
    align-items: flex-start;
    padding: 0px 19px 0px 50px;
  }
  .tip-label {
    width: 100%;
  }
  .tip-button-container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .tip-button-container button {
    width: 100%;
    gap: 0px;
  }
  .people-container {
    padding: 0px 19px 0px 50px;
  }
  .card-elements-2 {
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  .total-container {
    padding: 25px 25px 25px 25px;
  }
  .total-element-container {
    padding: 45px 40px 25px 40px;
  }
  .reset-button-container {
    align-items: flex-end;
    padding-bottom: 10px;
  }

  .reset-button-container button {
    width: 100%;
  }
}
